**/.DS_Store
**/target
**/Cargo.lock
**/package-lock.json
**/node_modules
**/app.zip
pkg/*.wasm
pkg/*.zip
pkg/provider-ui
pkg/ui/
operator/pkg/ui/
*.swp
*.swo
*/wasi_snapshot_preview1.wasm
*/wit/
*/process_env
**/pkg/ui/

# Generated constants files
operator/operator/src/constants.rs
provider/provider/src/constants.rs
operator/ui/src/constants.ts
provider/ui/src/constants.ts

# Machine-generated WIT files (except operator)
pkg/api/*